<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#7fff00">
<form action="/naa/" method="post">
    {% csrf_token %}
<table align="center" border="4">
    <tr>
        <td>
            <input type="text"name="t1" placeholder="name" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="number"name="t2" placeholder="contactno" required>
        </td>
    </tr>
    <tr>
        <td>
            <textarea name="t3" placeholder="comment"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="send">
        </td>
    </tr>
</table>
</form>
</body>
</html>
